.logo {
    color: $accent-color;
    font-family: $logo-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo span {
    color: $black-color;
}

.footer span {
    color: $white-color;
}
