$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196F3;
$secondary-accent-color: #188CE8;
$background-footer: #2F303A;
$secondary-background: #F5F4FA;
$white-color: #fff;
$black-color: #000;
$border-color: #EEEEEE;
$footer-address-color: rgba(255, 255, 255, 0.6);
$icon-color: #AFB1B8;
$icon-background: rgba(255, 255, 255, 0.1);
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$border-radius: 4px;

$primary-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;